body {
    height: 500px;
    background: #000;
}
a, a:hover{
    text-decoration: none;
}

li {
  list-style-type: none !important;
}

#container {
    background-color: #000;
    width: 515px;
    padding: 0;
    margin: 0 auto;

}
.panel {
    margin: 5px auto;
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    transition: 300ms;
      /*-moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;*/
    -moz-box-shadow:    inset 0 0 10px #2e6da4;
   -webkit-box-shadow: inset 0 0 10px #2e6da4;
   box-shadow:         inset 0 0 10px #2e6da4;
   border: 5px #2e6da4;

}
.panel:hover {
    max-height: 100px;
}

.panel a {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}
.panel li {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 380px;
    text-align: left;
        	-webkit-box-shadow: 0 8px 30px -8px #fff;
	        box-shadow: 0 8px 30px -8px #fff;
            line-height: 25px;
    width: 375px;
}
span.StartEnd {
    color: #00FF00;
    text-shadow: none;
    font-weight: 600;
}
.huge {
    color: #fff;
    text-shadow: none;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;

}

.panel-blue {
background-color: #000;

}

.panel-red {
background-color: #000;

}

.panel-yellow {
    background-color: #000;

}
.titles {
    margin: 0 !important;
    font-size: 26px !important;
}

.loader,
.loader:before,
.loader:after {
  background: #fff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #fff;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.bopBop {
    color: #00FF00;
        font-size: 16px;
        display: inline-block;

}
span.typed-cursor {
    color: #00FF00;
    font-size: 16px;
}

#retrieve{
    background: #000;
    color: #fff;
    vertical-align: text-top;
    display: block;
    height: 60px;
    font-size: 16px;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}