#container,
.panel-blue,
.panel-red,
.panel-yellow {
    background-color: #000
}

#optionsBTN,
a,
a:hover {
    text-decoration: none
}

body {
    height: 500px;
    background: #000
}

li {
    list-style-type: none!important
}

#container {
    width: 525px;
    padding: 0;
    margin: 0 auto
}

.panel {
    margin: 5px auto;
    font-family: Dosis, sans-serif;
    font-weight: 300;
    transition: .5s;
    -moz-box-shadow: inset 0 0 10px #2e6da4;
    -webkit-box-shadow: inset 0 0 10px #2e6da4;
    box-shadow: inset 0 0 10px #2e6da4;
    border: 5px #2e6da4;
    height: 90px;
    width: 97.5%
}

.huge,
.panel li {
    font-family: 'Open Sans', sans-serif
}

.panel:hover {
    height: 100px;
    width: 100%
}

.panel a {
    color: #fff;
    text-shadow: 1px 1px 1px #000
}

.panel li {
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    -webkit-box-shadow: 0 8px 30px -8px #fff;
    box-shadow: 0 8px 30px -8px #fff;
    line-height: 25px;
    width: 377px
}

.huge,
span.StartEnd {
    text-shadow: none;
    font-weight: 600
}

span.StartEnd {
    color: #0F0
}

.huge,
.loader {
    color: #fff
}

.titles {
    margin: 0!important;
    font-size: 26px!important
}

.loader,
.loader:after,
.loader:before {
    background: #fff;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em
}

.loader {
    text-indent: -9999em;
    margin: 88px auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -.16s;
    animation-delay: -.16s
}

.loader:after,
.loader:before {
    position: absolute;
    top: 0;
    content: ''
}

.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -.32s;
    animation-delay: -.32s
}

.loader:after {
    left: 1.5em
}

@-webkit-keyframes load1 {
    0%,
    100%,
    80% {
        box-shadow: 0 0;
        height: 4em
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em
    }
}

@keyframes load1 {
    0%,
    100%,
    80% {
        box-shadow: 0 0;
        height: 4em
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em
    }
}

.bopBop {
    color: #0F0;
    font-size: 16px;
    display: inline-block
}

span.typed-cursor {
    color: #0F0;
    font-size: 16px
}

#links,
#loadingD,
#loadingT,
#noTeacher,
#recentTeacherBTN,
#refreshTab,
#refreshTab1,
#retrieve {
    background: #000;
    color: #fff;
    display: block;
    height: 60px;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink .7s infinite;
    -moz-animation: blink .7s infinite;
    animation: blink .7s infinite
}

@keyframes blink {
    0%,
    100% {
        opacity: 1
    }
    50% {
        opacity: 0
    }
}

@-webkit-keyframes blink {
    0%,
    100% {
        opacity: 1
    }
    50% {
        opacity: 0
    }
}

@-moz-keyframes blink {
    0%,
    100% {
        opacity: 1
    }
    50% {
        opacity: 0
    }
}

.BTNcontainer {
    text-align: center
}

.hideItem {
    display: none!important
}

.Message {
    color: #0F0;
    text-align: center;
    font-family: monospace;
    font-size: 30px;
    margin: 150px
}

#text,
h1,
i,
li {
    color: #fff
}

#enterToken,
#tokenTitle {
    text-align: center;
    font-size: 24px;
    font-family: monospace
}

.showItem {
    display: block!important
}

#enterToken {
    width: 500px;
    margin: 150px auto;
    color: #fff
}

a:active,
a:focus,
a:hover {
    outline: 0;
    border: 0;
    text-decoration: none
}

#optionsBTN {
    margin: 0 auto;
    display: block;
    height: 15px;
    padding: 0;
    width: 50px;
    transition: .5s;
    color: #000;
    background-color: #2e6da4;
    outline: 0;
    border: 0
}

#optionsBTN:hover {
    height: 37px
}

.loaders {
    cursor: progress;
    border: none
}

#settingsIcon {
    margin: 0;
    padding: 8px;
    color: transparent;
    transition: .4s
}

#settingsIcon:hover {
    color: #000
}

#tokenInput {
    color: #2e6da4
}

input {
    background: #000;
    color: #0F0;
    font-family: 'Open Sans';
    display: block;
    width: 500px;
    height: 30px
}

#tokenTitle {
    font-weight: 300;
    display: block;
    color: #0f0
}

#resetToken,
#saveToken {
    color: #0F0;
    font-family: monospace;
    background: inherit;
    width: 150px
}

#overlay,
#overlay1,
#overlay2 {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 2
}

#text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

#text a {
    color: #0f0
}

button,
input {
    font-size: 1em;
    padding: 3px 6px;
    margin: 0;
    border: 1px solid #333;
    outline: 0;
    box-shadow: none
}

::-moz-focus-inner {
    padding: 0;
    border: 0
}

copy {
    position: relative;
    background-color: #aaa;
    border-radius: 0 3px 3px 0;
    cursor: pointer
}

.copied::after {
    position: absolute;
    top: 12%;
    right: 110%;
    display: block;
    content: "copied";
    font-size: .75em;
    padding: 2px 3px;
    color: #fff;
    background-color: #22a;
    border-radius: 3px;
    opacity: 0;
    will-change: opacity, transform;
    animation: showcopied 1.5s ease
}

input[type=submit],
input[type=text] {
    height: 22px;
    color: #fff;
    display: inline-block
}

@keyframes showcopied {
    0% {
        opacity: 0;
        transform: translateX(100%)
    }
    70% {
        opacity: 1;
        transform: translateX(0)
    }
    100% {
        opacity: 0
    }
}

#case {
    width: 0
}

input[type=text] {
    width: 90%;
    float: left;
    padding-right: 60px;
    border: none;
}

input[type=submit] {
    margin-left: -60px;
    width: 11%;
    background-color: transparent;
    font-size: 14px;
    border: 0;
    -webkit-appearance: none;
    transition: .5s
}

input[type=submit]:hover {
    font-size: 16px;
    height: 27px;
    width: 13%;
    color: #2e6da4
}

input.dNames {
    padding-right: 0;
    text-align: right;
    width: 96%;
    border: none
}

.orderedList li {
    list-style: decimal!important;
    font-size: .5em;
    text-shadow: 2px 2px #2e6da4
}

.redText {
    color: #fd4f4f!important
}

p {
    margin: 0
}

input#accesstoken {
    border: 1px solid #fff;
}